name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Release build  
      run: dotnet build --configuration Release  
    - name: Publish  
      run: dotnet publish -c Release -o ${{env.DOTNET_ROOT}}/movies-api  
    - name: Deploy to Azure Web App  
      uses: azure/webapps-deploy@v1  
      with:  
        app-name: 'movies-client'  
        slot-name: 'production'  
        publish-profile: ${{ secrets.AZURE_CREDENTIALS }}  
        package: ${{env.DOTNET_ROOT}}/movies-api   
